fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
groq
langgraph
sentence-transformers
chromadb
networkx
easyocr
pillow
cloudinary
pandas
httpx
tavily-python
pymupdf
reportlab
python-docx
openpyxl
python-multipart
matplotlib
