fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
groq
langgraph
chromadb
networkx
pillow
cloudinary
pandas
httpx
tavily-python
pymupdf
reportlab
python-docx
openpyxl
python-multipart
